:root {
    --white: #F0EDEE;
    --black: #0A090C;
    --grayy: #C4D8DB;
    --trrey: #24292e;
}


div {
    margin: 5px;
    padding: 5px;
}

.grid-container {
    margin: 5px auto;
    display: grid;
    grid-template-areas:
"header"
"nav"
"filters"
"content"
"aside"
"footer";
}


/* Header Start */
.header {
    grid-area: header;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* Header End */


/* Aside Start */
.aside {
    grid-area: aside;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* Aside End */


/* footer Start */
#footer {
    margin: 5px;
    grid-area: footer;
    border: none;
    padding-top: 0;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--trrey);
    bottom: 0;
    grid-area: footer;
    position: fixed;
    width: 100%;
    left: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}


.footer li {
    float: left;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);
}


.footer li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* footer End */

/*----------- Start Form CSS -----------*/
form {
    font-size: 25px;
    margin: 5px 5px 5px 5px;
    font-family: "Montserrat", sans-serif;
}

input {
    padding: 5px 5px 5px 5px;
    font-size: 15px;
}

/*----------- End Form CSS -----------*/


/*----------- Start Sidebar CSS -----------*/
.nav {
    grid-area: nav;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 0;
    margin: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -10px;
    background-color: var(--black);
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    border: none;
    text-align: center;
}

.sidebar a {
    max-width: 1000px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    color: var(--white);
    display: block;
    transition: 0.3s;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
}

.sidebar .collapsible{
    max-width: 1000px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    color: var(--white);
    display: block;
    transition: 0.3s;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
}

.sidebar a:hover {
    color: var(--black);
    background-color: var(--white);

}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    z-index: 2;
    padding: 10px 25px 10px 25px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    padding: 10px 15px;
    border: solid var(--black) 2px;
    margin: 5px;
}

.openbtn:hover {
    background-color: var(--black);
    color: var(--white);
    border: var(--white) dashed 2px;
}


/*------------ Expandable CSS Start ------------*/

.collapsible {
    max-width: 1000px;
    text-decoration: none;
    background-color: var(--black);
    color: white;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    -webkit-transition: background-color 0.3s;
    text-align: center;
    margin: 0 auto;
}

.collapsible:hover {
    background-color: var(--white);
    color: var(--black);
}

.collapsible.active {
    background-color: var(--white);
    color: var(--black);
}



.expandobj {
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: var(--trrey);
    max-width: 1000px;
    margin: 0 auto;
}

.expandobj ul {
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
}

.collapsible:after{
    content: '\002B'; /*plus sign*/
    color: var(--white);
    font-weight: bold;
    float: left;
    padding-left: 32px;
}
:hover:after{
    color: var(--black);
}
.active:after{
    content: "\2212"; /*minus sign*/
    color: var(--black);
}

/*------------ Expandable CSS End ------------*/
/*------------ Sidebar CSS End ------------*/


/*------------ Filters 1 CSS Start ------------*/

.filterDiv {
    float: left;
    background-color: var(--trrey);
    color: #ffffff;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}
 #filterboxes {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;

}
 #filterboxes2 {

    margin: 10px 0 0 auto;
    padding: 0;
    max-width: 1000px;

}
.expandobj div {
    text-align: center;
}

.show {
    display: block;
}

.container {
    overflow: hidden;
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;

    margin: 0 auto;
}

.container div {
    min-width: 200px;
}

.container div a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    margin: 15px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.categories div {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: filters;
}

.categories div span {
    margin-top: 5px;
    margin-left: 5px;
}

.expandobj .categories div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: filters;

}

.expandobj .categories div span {

    margin-top: 5px;
    margin-left: 5px;
}

#filterbtn {
    border: solid 2px var(--white);
    background-color: var(--trrey);
    color: var(--white);
}
#filterbtn:hover{
    background-color: var(--white);
    color: var(--black);
    border: dashed 2px var(--black);
}
#filterbtn.active{
    background-color: var(--white);
    color: var(--black);
}

#filterbtn2 {
    border: solid 2px var(--white);
    background-color: var(--trrey);
    color: var(--white);
}
#filterbtn2:hover{
    background-color: var(--white);
    color: var(--black);
    border: dashed 2px var(--black);
}
#filterbtn2.active{
    background-color: var(--white);
    color: var(--black);
}

.category {
    text-align: center;
}

.category input[type=checkbox] {
    display: none;
}

.category input:checked + label {
    background-color: var(--white);
    color: var(--black);
}

.categories label {
    display: block;
    border: solid 2px var(--white);
    min-width: 80px;
    height: 40px;
    margin-top: 5px;
    color: var(--white);
    text-align: center;
    line-height: 40px;
    background-color: var(--trrey);
    padding: 0 5px 0 5px ;
}

.categories label:hover {
    background-color: var(--white);
    color: var(--black);
    border: dashed 2px var(--black);
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: var(--white);
}

/*------------ Filters 1 CSS End ------------*/


/*Content css's*/
.content {
    grid-area: content;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    max-width: 800px;
}


.description {
    text-align: center;
}

.description p {
    text-align: left;
}

.armycomp {
    text-align: center;
}

.armycomp ul {
    text-align: left;
}


.guide {
    text-align: center;

}

.guide ol li {
    text-align: left;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1000px;

    color: var(--white);
    background-color: var(--black);
    margin-bottom: 60px;
    padding: 5px;
}
